/* Universal Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --body-background-color: black;
  --strong-text-color: springgreen;
  --text-color: #dddddd;
  --section-margin-y: 4rem;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  width: 90%;
  margin: 2rem auto;
}

section {
  margin: var(--section-margin-y) 0;
  background-color: var(--body-background-color);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  color: var(--strong-text-color);
}

.divider {
  font-size: 4rem;
  text-align: center;
  color: #F4D35E;
}

#profile-picture-section {
  display: block;
  width: min-content;
  margin: 4rem auto;
  background-color: teal;
  padding: 0.5rem;
  text-align: center;
  color: black;
}

#profile-picture {
  width: 100%;
  margin-bottom: 0.5rem;
}

#profile-name {
  font-size: 1rem;
  font-weight: 900;
}

#profile-career {
  line-height: 1;
  font-size: 0.75rem;
}

#certificate-link {
  display: inline-block;
  padding: 0.125rem 0.25rem;
  background-color: maroon;
}

#skill-wrapper {
  width: fit-content;
  margin: 2rem auto;
}

.skill-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0;
}

.skill-icon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

#project-wrapper {
  width: 80%;
  margin: 2rem auto;
}

.project-title {
  font-size: 1rem;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 0.5rem;
  display: inline-block;
  padding-bottom: 0.25rem;
}

.project-description {
  font-size: 0.75rem;
}

#contact-wrapper {
  width: fit-content;
  margin: 2rem auto;
}

.contact-card {
  display: flex;
  margin: 1rem 0;
}

.contact-icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

/* Responsive */
@media screen and (min-width:500px) {
  :root {
    font-size: 18px;
  }

  main {
    width: 80%;
  }
}

@media screen and (min-width:700px) {
  :root {
    font-size: 20px;
  }

  main {
    width: 70%;
  }
}

@media screen and (min-width:1000px) {
  :root {
    font-size: 24px;
  }

  main {
    width: 50%;
  }
}